<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_author" method="POST">
  <label for="name">Author Name:</label>
  <input type="text" id="name" name="name" required><br><br>

  <label for="birth_date">Birthdate:</label>
  <input type="date" id="birth_date" name="birth_date" required><br><br>
  <label for="date_of_death">Date of Death:</label>
  <input type="date" id="date_of_death" name="date_of_death"><br><br>
  <input type="submit" value="Add Author">
  </form>
  <!-- Add a button to go back to the home page -->
  <div>
      <a href="/"><button>Back to Home</button></a>
  </div>

  </body>
</html>
