<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Book</title>
</head>
<body>
    <h1>Delete Book</h1>
    <p>Are you sure you want to delete the following book?</p>
    <p>Title: {{ book.title }}</p>


    <form action="/delete_book" method="POST">
        <button type="submit">Delete Book</button>
    </form>

    <a href="/">Back to Home</a>
</body>
</html>